<h1>My Account</h1>
<a href="/profile/edit">Edit Account Information</a>

<img src="<%= user.avatar %>" alt="<%= user.username %>">
<h4><%= user.username %></h2>
<h4><%= user.name %></h2>
<h4><%= user.email %></h2>
<h4><%= user.playlists %></h2>


<form method="POST" action="/profile">
  <input type="hidden" name="_method" value="DELETE">
  <button>Delete Account</button>
</form>

<p><%= user %></p>
