<h1>My Account</h1>
<form method="POST" action="/account" class="oneButtonForm">
  <input type="hidden" name="_method" value="DELETE">
  <button class="topButton delete">Delete Account</button>
</form>

<a href="/account/edit"><button class="topButton">Edit Account Information</button></a>

<div>
  <p>Username: <%= user.username %></p>
  <p>Email: <%= user.email %></p>
  <p>Name: <%= user.name %></p>
</div>

<a href="/playlists/new"><button class="topButton">Create New Playlist</button></a>

<div class="listContainer">
  <ul>
    <% playlists.forEach((playlist) => { %>
      <li>
        <p>
          <a href="/playlists/<%= playlist.id %>" class='playlistFolderTitle'>
            <%= playlist.name %>
          (<%= playlist.songs.length %>)
          </a>
        </p>

        <a href="/playlists/<%= playlist.id %>/edit">
          <button class="miniButton">Edit playlist</button>
        </a>

        <form method="POST" action="/playlists/<%= playlist.id %>" class="oneButtonForm">
          <input type="hidden" name="_method" value="DELETE">
          <button class="miniButton">Remove playlist</button>
        </form>
      </li>
    <% }) %>
  </ul>
</div>
