<h1><%= playlist.name %></h1>

<% var songList = []; %>
<% playlist.songs.forEach((song) => { %>
  <% songList.push(song.url); %>
<% }); %>

<aside>
  <iframe src="https://www.youtube.com/embed?playlist=<%= songList %>" frameborder="0" allowfullscreen></iframe>
</aside>

<div class="listContainer">
  <ul>
    <% playlist.songs.forEach((song) => { %>
      <%# <li></%= song %/></li> %>

      <li><p><%= song.name %>
        - <%= song.artist %></p>

        <a href="/playlists/<%= playlist.id %>/songs/<%= song.id %>/edit">
          <button class="miniButton">Edit song</button>
        </a>

        <form method="POST" action="/playlists/<%= playlist.id %>/songs/<%= song.id %>" class="oneButtonForm">
          <input type="hidden" name="_method" value="DELETE">
          <button class="miniButton">Remove song</button>
        </form>
      </li>
    <% }) %>
  </ul>
</div>
