<h1><%= playlist.name %></h1>
<h3>
  Created by <a href="/users/<%= playlist.createdBy.id %>"><%= playlist.createdBy.username %></a> on <%= playlist.createdAt.toDateString().substr(4,12) %>
</h3>

<% if(locals.isAuthenticated && locals.user.id === playlist.createdBy.id) { %>
  <a href="/playlists/<%= playlist.id %>/songs/new"><button class="topButton green">Add A Song</button></a>
  <a href="/playlists/<%= playlist.id %>/edit"><button class="topButton blue">Edit Playlist</button></a>

  <form method="POST" action="/playlists/<%= playlist.id %>" class="oneButtonForm">
    <input type="hidden" name="_method" value="DELETE">
    <button class="topButton red">Delete Playlist</button>
  </form>
<% } %>

<% var songList = []; %>
<% playlist.songs.forEach((song) => { %>
  <% songList.push(song.url); %>
<% }); %>
<div class="player">
  <iframe src="https://www.youtube.com/embed?playlist=<%= songList %>" frameborder="0" allowfullscreen></iframe>
</div>


<h4 class="listTitle"><%= playlist.songs.length %> Songs</h4>
<div class="listContainer">
  <ul>
    <% playlist.songs.forEach((song) => { %>
      <%# <li></%= song %/></li> %>

      <li><p><%= song.name %>
        - <%= song.artist %></p>

        <% if(locals.isAuthenticated && locals.user.id === playlist.createdBy.id) { %>
          <a href="/playlists/<%= playlist.id %>/songs/<%= song.id %>/edit">
            <button class="miniButton">Edit song</button>
          </a>

          <form method="POST" action="/playlists/<%= playlist.id %>/songs/<%= song.id %>" class="oneButtonForm">
            <input type="hidden" name="_method" value="DELETE">
            <button class="miniButton">Remove song</button>
          </form>
        <% } %>
      </li>
    <% }) %>
  </ul>
</div>
