<h1><%= playlist.name %></h1>

  <a href="/playlists/<%= playlist.id %>/edit"><button class="topButton">Edit playlist information</button></a>
  <a href="/playlists/<%= playlist.id %>/songs/new"><button class="topButton">Add new song</button></a>

  <form method="POST" action="/playlists/<%= playlist.id %>" class="oneButtonForm">
    <input type="hidden" name="_method" value="DELETE">
    <button class="topButton">Delete Playlist</button>
  </form>

  <p>Num of songs: <%= playlist.songs.length %></p>
  <p>Private? <%= playlist.private %></p>
  <p>Tags: <%= playlist.tags %></p>
  <p>Created on: <%= playlist.createdAt %></p>
  <p>Last edited: <%= playlist.updatedAt %></p>
  <p>
    Created by: <a href="/users/<%= playlist.createdBy.id %>"><%= playlist.createdBy.username %></a>
  </p>
  <br>

<a href="/playlists/<%= playlist.id %>/play">
  <button class="topButton center">Play</button>
</a>
<h4>Songs</h4>
<div class="listContainer">
  <ul>
    <% playlist.songs.forEach((song) => { %>
      <%# <li></%= song %/></li> %>

      <li><p><%= song.name %>
        - <%= song.artist %></p>

        <a href="/playlists/<%= playlist.id %>/songs/<%= song.id %>/edit">
          <button class="miniButton">Edit song</button>
        </a>

        <form method="POST" action="/playlists/<%= playlist.id %>/songs/<%= song.id %>" class="oneButtonForm">
          <input type="hidden" name="_method" value="DELETE">
          <button class="miniButton">Remove song</button>
        </form>
      </li>
    <% }) %>
  </ul>
</div>
