<h1>User Profile</h1>

<%# <img src="</%= user.avatar %/>" alt="</%= user.username %/>">%>

<h4>Username: <%= user.username %></h4>

<h4>Name: <%= user.name %></h4>

<h4>E-mail: <%= user.email %></h4>

<h4>Playlists</h4>

<h4><%= user.playlists %></h2>
<%# embed playlist.show %>

<p>User resource details: <%= user %></p>
