<h1>User Profile</h1>

<h4>Username: <%= user.username %></h4>

<h4>Name: <%= user.name %></h4>

<h4>E-mail: <%= user.email %></h4>

<h4>Playlists</h4>

<h4><%= user.playlists %></h2>

<p>User resource details: <%= user %></p>
